
body
{
	background-image: url("text_bg.png");
}
p
{
	color:yellow;
}
h1
{
	color:white;
}


pre
{
	color:yellow;
	font-size:150%;
}

a:link
{
color:yellow;
 text-decoration:none;

}
a:visited 
{
	color:white;
	background-color:black;
}
a:hover
{
	color:blue;


}

#top1{
		text-shadow:3px 2px red;
		text-align:center; font-size:=220%; 
		font-family:Arizonia;
}

#normal1{

	font-size: 250%;
	text-shadow:2px 1px white;
	 font-family:Cookie; 
}

#links:hover{
	background-color:white;
	border-radius:20%;
}

#about1{

		font-variant: small-caps;
		font-family:Caesar Dressing;
		font-size: 170%;


}
#test{
	margin: auto;
	font-size:150%; text-align:center; 
	max-width: 500px;
}
#about1::first-letter{
	color: #FFE000  ;
	font-size:250%;
}
::selection{
	color:white;
	background:black	;
}

#head1{
	font-family: Faster One;
	font-size: 250%;
	color:red;
}
#findme{
	font-family:Almendra SC;		
	font-size:170%; 
	color:red;
}
#address1{
	color:yellow;
	 font-size:200%;
	 font-family: Amatic SC;
}
#titlesall{
	
	font-size:170%;
	color:white;
	font-family: Arbutus;
}
#bywhich{
	font-size:150%;
	color:#DEDEDE;
	font-family:Audiowide;
}
#contentin{
	font-size:140%;
	color:yellow;
	font-family: Architects Daughter;
}
#yearfrom{
	font-size:150%;
	color:#DEDEDE;
	font-family:Audiowide;
	float:right;
	padding-right: 20px;
	overflow: auto;
}
#navbar{
	list-style-type:none; 
	background-color:#25092E;
	overflow: hidden;
    padding:10;
    border: 10px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    margin:0;
    float:left;

}

li{
	display: inline;
	color:black;
	float:left;
}
#aforli{
	display:block;
	color:#CDDC34;
	padding: 14px 16px;
	text-decoration: none;
	transition: all .4s ease-in-out;
}
#aforli:hover{
	background-color:grey;
}
#aforli:active{
	background-color:#B6A1EA;
}
#navmobil{
	list-style-type:none; 
	background-color:#25092E;
	overflow: hidden;
    padding:0;
    border: 0;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    margin:0;
    float:left;

}


@media screen and (max-width: 600px){
   	  #navbar ,
    #navbar li {float: none;}
   
}
#educationtitle{
	font-size:170%;
	color:orange;
	font-family: Eater;

}
#educationtitle:hover{
		text-decoration:underline;
}
#course{
	font-size:150%;
	color:#A0DA8E;
	font-family:Audiowide;
}
#stats{
	font-size:180%;
	color:yellow;
	font-family: Euphoria Script;
}
#yearfromto{
	font-size:150%;
	color:#A0DA8E;
	font-family:Audiowide;
	float:right;
	padding-right: 20px;
	overflow: auto;
}
#head2{
	font-family: Faster One;
	font-size: 250%;
	color:red;
}
#head3{
	font-family: Faster One;
	font-size: 250%;
	color:red;
}
#skillset{
	color:yellow;
	font-size: 150%;
	font-family: Freckle Face;
}
#head4{
	font-family: Faster One;
	font-size: 250%;
	color:red;
}
#interestset{
	font-family: Caesar Dressing;
	font-variant: small-caps;
}
#head5{
	font-family: Faster One;
	font-size: 250%;
	color:red;
}
#linkstoCPid{
	color:orange;
}
#linkstoCPid:hover{
	text-decoration: underline;
	color:red;
	transition: all .6s ease-in-out;
}
#achievementsset{
	color:yellow;
	font-size: 150%;
	font-family: Freckle Face;
}
