
body
{
	background-image: url("text_bg.png");
}
p
{
	color:yellow;
}
h1
{
	color:white;
}
li
{
	color:yellow;
}
pre
{
	color:yellow;
	font-size:150%;
}

a:link{color:yellow; text-decoration: none;}
a:visited {color:white;}
a:hover{color:blue;}